<create-report-modal
  (modalSwitcher)="modalSwitcher()"
  *ngIf="modalOpen"></create-report-modal>
<nav>
  <div class="nav_title">
    Reports
  </div>
  <div class="button-navigation" (click)="modalSwitcher()">
    Create report
  </div>
</nav>
<div class="container">
  <table>
    <tr>
      <th>Report name</th>
      <th>Format</th>
      <th>Email to</th>
      <th>Type</th>
      <th>Time</th>
    </tr>

    <tr *ngFor="let report of reports">
      <td>{{ report.name }}</td>
      <td>{{ report.format }}</td>
      <td>{{ report.emailTo }}</td>
      <td>{{ report.exportType }}</td>
      <td>{{ report.exportTime }}</td>
    </tr>
  </table>
</div>

