<div class="container">

  <div class="modal">
    <header class="modal_header">
      <span class="modal_header_title">Export Report</span>
    </header>
    <form>
      <div class="form_group">
        <label class="form_label">Report name</label>
        <input class="input_text"
               [(ngModel)]="newReport.name"
               name="name"
               type="text"
               required
               placeholder="Shareable Report"/>
      </div>

      <div class="form_group">
        <label class="form_label">Format</label>
        <div class="radio_group">
          <label *ngFor="let format of formats" class="radio_label">
            <input class="standard_radio"
                   [value]="format"
                   [(ngModel)]="newReport.format"
                   name="format"
                   type="radio"/>
            <span>{{ format }}</span>
          </label>
        </div>
      </div>

      <div class="form_group">
        <label class="form_label">E-mail to</label>
        <input class="input_text"
               [(ngModel)]="newReport.emailTo"
               name="emailTo"
               type="email"
               placeholder="client@company.com" />
      </div>

      <div class="form_group">
        <label class="form_label">Schedule</label>
        <div class="radio_group">
          <label *ngFor="let schedule of schedules" class="radio_label">
            <input class="standard_radio"
                   (change)="changeReportTime()"
                   [value]="schedule"
                   [(ngModel)]="newReport.exportType"
                   name="scheduleType"
                   type="radio"/>
            <span>{{ schedule }}</span>
          </label>
        </div>
      </div>
      <app-schedule-picker (reportTimeEvent)="addReportTime($event)"
                           [exportType]="newReport.exportType">
      </app-schedule-picker>
    </form>
    <footer class="modal_footer">
      <button class="button-secondary" type="button">Cancel</button>
      <button class="button-primary" type="submit" (click)="addReport(newReport)">OK</button>
    </footer>
  </div>

</div>
